.active-lang {
    border: 1px solid white;
    color: black;
    background: white
}

.shadow-light {
    box-shadow: -10px -10px 15px 4px rgba(0, 0, 0, 0.275), 10px 10px 15px 4px rgba(14, 165, 233, 0.275);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.shadow-dark {
    box-shadow: -10px -10px 15px 4px rgba(255, 255, 255, 0.275), 10px 10px 15px 4px rgba(255, 255, 255, 0.275);
    box-shadow: rgba(60, 240, 255, 0.4) 0px 0px 0px 2px, rgba(60, 240, 255, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}



.seeMore {
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.seeMore:hover {
  background-color: #fff;
  color: rgba(14, 165, 233, 1);
}

.seeMore:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .seeMore {
    min-width: 120px;
    padding: 0 25px;
  }
}